*{
    margin: 0;
    padding: 0
}
body{
    background-color: #f7f7f7;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border-bottom: solid #f7951dad;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(37, 37, 37);
    width: 80vw;
    margin-top: 100px;
    background-color: #f7f7f7;
    margin-bottom: 10px;

}
.card-title{
    font-size: 50px;
    color: #f7f7f7;
}
.divcard{
    margin: 50px;
}
.card-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightslategray;
}
.body-card-flex{
    text-align: center;
}
.card-text{
    margin-bottom: 40px;
    font-size: 15px;
    color: #f7941d;
}
.card-input{
    border-radius: 4px;
    width: 300px;
    height: 30px;
    text-align: center;
}
.card-header-1{
    padding: 10px;
    width: 80vw;
    background-color: #f7941d;
}

.btn{
    background-color: #f7941d;
}
.btn:hover{
    background: #66ac92;
}
#cadastro{
    color: red;
}
#cadastro1{
    color: green;
}
.mainindex{
    
    display: flex;
    flex-direction: column;
}
.titleindex{
    margin-bottom: 10px;
    text-align: center;
    color: #f7941d;
}
.body-card-flex{
    color: #004a8d;
}
.accordion{
    width: 700px;
    margin-bottom: 10px;

    text-align: center;

}
footer{
    background-color: #004a8d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divfooter{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #f7f7f7;
}
.mapfooter{
    margin-top: 30px;
}
.navbar{
    background-color: #f7f7f7;
    border-bottom: 1px solid lightslategray;

}
.logo{
    width: 90px;
    height: 70px;
    margin-left: 50px;
}
.linha1{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightslategray;
    margin-bottom: 10px;
    
}

.banners-secundary{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 50px;
    
}
.banners-secundary-item{
    margin-top: 10px;
}
.carousel-inner{
    margin-top: 10px;
    width: 600px;
    height: 460px;
}
.image-item{
    width: 100px;
}
.nav-link{
    color: #004a8d;
}
.nav-link:hover{
    color: #f7941d;
}
table, th, tr, td {
    
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f7f7f7;
}
.form-aprov{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}